Package: com.i0stweak3r.ezcomplete
Name: EZCompleteOSX
Author: i0s_tweak3r
Description: A CLI terminal based version of an openai chatbot for macOS.  It accesses the models directly using Objective C instead of Python or Node, making it kind of a unique package, and an ideal framework for building into a tweak or application once finished. Note:The tool does require python to be installed so it can interact with the API. This version is for macOS. You will need an OpenAI API KEY for this to work.  Currently using Apple's AVFoundation Speech to synthesize completiopns.  Tho no negative afffects should come with this, it is still very much a WIP.
Depends: firmware (>=10.14)
Maintainer: i0s_tweak3r <djvs23@gmail.com>
Architecture: iphoneos-arm
Section: System
Version: 0.0.9-3
